.admintitle
{
	background-color: #4CAF50;
	colour: white;
	margin-left:0px;
	margin-right:0px;
	height:140px;
	line-height:140px; 
}
.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}